@import 'variables';
@import 'globals';

body{
    height: 100vh;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* layout */

.grid-container{
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header{
    grid-template: header;
    background-color: $color1;
}

main{
    grid-template: main;
    padding: 1rem;
}

footer{
    grid-template: footer;
    background-color: $color1;
    color: #fff;
}


.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center{
    justify-content: center;
}

/* header */

header a{
    color:#fff;
    padding: 1rem;
}


header a.brand{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

/* card */

.card{
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-body{
    padding: 1rem;
}

.card-body > *{
    margin-bottom: 0.5rem;
}

.price{
    font-size: 2rem;
}

/* rating **/

.rating span{
    color:$color3;
    margin: 0.1rem;
}